/* Body va umumiy sozlamalar */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.header {
  background-color: #333;
  /* color: white; */
  padding: 10px 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  margin: 0;
}

.link {
  color: #ffcc00;
  text-decoration: none;
}

/* Mashinalar bo'limi */
h2 {
  font-size: 22px;
  /* color: #333; */
  text-align: center;
  margin-top: 20px;
}

#moshinalar {
  list-style-type: decimal;
  padding-left: 20px;
  /* color: #555; */
}

.moshina {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.moshina:hover {
  background-color: #e0e0e0;
}

/* Animatsiya */
@keyframes slideAnimation {
  0% { transform: translateX(0); }
  100% { transform: translateX(100px); }
}
