/* Main section */
.main {
  margin-bottom: 180px;
}
.main__heading {
  border-bottom: 2px solid #e6e6e6;
  display: flex;
  align-items: baseline;
  gap: 24px;
  padding-top: 56px;
  padding-bottom: 16px;
  margin-bottom: 40px;
}
.main__title {
  font-family: "Newsreader", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.2;
}
.items-count {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.3;
}
.card {
  background-color: #fafaf5;
  border: 2px solid #e6e6e6;
  border-radius: 24px;
  overflow: hidden;
}
.products-basket {
  display: flex;
  align-items: start;
  gap: 32px;
}
.basket-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.basket-list-item {
  display: flex;
}
.basket-list__img {
  width: 160px;
  height: 160px;
}
.basket-list__content {
  flex-grow: 1;
  padding: 24px;

  display: flex;
  flex-direction: column;
  position: relative;
}
.list-item__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 4px;
}
.list-item__selling-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #426b1f;
  margin-bottom: 15px;
}
.list-item__input {
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
  font-weight: 600;
  line-height: 1.3;
  padding: 8px 14px;
  padding-right: 40px;
  width: 128px;

  border-radius: 20px;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;

  background-image: url(../img/pencil.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 86px;

  &:focus {
    border: 2px solid #426b1f;
  }
}
.list-item__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;

  position: absolute;
  top: 24px;
  right: 24px;
}

.basket-total {
  padding: 24px;
  width: 395px;
}
.basket-total__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 32px;
}
.basket-total__details-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}
.details-item {
  display: flex;
  justify-content: space-between;
  line-height: 1.3;
}

.details-item:last-of-type {
  font-weight: 600;
}
